.App {
  max-width: 860px;
  margin: 40px;
}

.chessboard {
  width: 650px;
  height: 650px;
  position: absolute;
  z-index: -100;
}

.chessGrid {
  margin: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: 74px 74px 74px 74px 74px 74px 74px 74px;
  grid-template-rows: 74px 74px 74px 74px 74px 74px 74px 74px;
  grid-gap: 0px;
  position: relative;
  z-index: 100;
  width: 590px;
  height: 590px;
}

.buttonWrapper {
  width: 100%;
}